.mat-expansion-panel-header{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 4;
    opacity: 0.3;
    color:#FF0220;
    height:50px;
    border-radius: 25px;
   
}


.mat-expansion-panel{
    width : 700px;
    background-color: #FFFFFF;
    color:#040CCB;
    font-weight: bold;  
    border: 1px solid #1C29C5; 
    
}
.mat-accordion-top{
    margin-top:50px;
    margin-left: 60px;
}
mat-expansion-panel-header:hover {
    cursor: pointer;
    background: #9FA2E1 !important;
}
.accordion-item-header,
  .accordion-item-body ,.accordion-item-description {
    color:#FF0220 !important;
  }
  .accordion-item {
    display: block;
    border: solid 1px rgb(150, 147, 147);
  }

