<section class="main-contact">
  <div class="support-container">
    <div class="row">
      <img class="support-img" src="../../assets/support.png" width="40px" height="40px">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 evntsF">
        <h1>Connect<strong>With Us</strong></h1>
      </div>
    </div>
    <div class="support-content">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="row contctR">
          <img class="location-img" src="../../assets/location.png" width="40px" height="40px">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <h4>
              BLUE RIDGE, 2nd, 3rd, 4th & 5th floor, IT-6 building Qubix Business Park Private Limited
              Special Economic Zone Plot No 2, Township, Phase 1, Hinjewadi Rajiv Gandhi Infotech Park
              Pune, Maharashtra 411057
            </h4>
          </div>
        </div>
        <div class="row contctR">
          <img class="location-img" src="../../assets/phone.png" width="35px" height="35px" padding="10px">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <h4>
              020 6657 1212
            </h4>
          </div>
        </div>
        <div class="row contctR">
          <img class="location-img" src="../../assets/email.png" width="35px" height="35px" padding="10px">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <h4>
              TeamAvengerSupport@gmail.com
            </h4>
          </div>
        </div>      
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <form action="contactform" name="contactform" id="contactform">
          <div class="formgroup">
            <input type="text" name="name" class="form-control" id="fullname"  placeholder=" Full Name" required="required">
          </div>
          <div class="formgroup">
            <input type="text" name="phone" class="form-control" id="phnumber"  placeholder=" Phone No." required="required">
          </div>
          <div class="formgroup">
            <input type="text" name="email" class="form-control" id="email"  placeholder=" Email Id" required="required">
          </div>
          <div class="formgroup">
            <textarea required name="msg" placeholder="Enter your comments here.."></textarea>
          </div>
          <div class="textcenter">
            <input type="submit" name="submit" class="btn btn-primary mb-2 partner" id="submit" value=" Submit">
          </div>
</form>

      </div>
    </div>
  </div>
</section>