<section class="main-contact">
  <div class="support-container">
    <div class="row">
      <img class="support-img" src="../../assets/support.png" width="40px" height="40px">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 evntsF">
        <h1>Connect<strong>With Us</strong></h1>
      </div>
    </div>
    <div class="support-content">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="row contctR">
          <img class="location-img" src="../../assets/location.png" width="40px" height="40px">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <h4>
              BLUE RIDGE, 2nd, 3rd, 4th & 5th floor, IT-6 building Qubix Business Park Private Limited
              Special Economic Zone Plot No 2, Township, Phase 1, Hinjewadi Rajiv Gandhi Infotech Park
              Pune, Maharashtra 411057
            </h4>
          </div>
        </div>
        <div class="row contctR">
          <img class="location-img" src="../../assets/phone.png" width="35px" height="35px" padding="10px">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <h4>
              020 6657 1212
            </h4>
          </div>
        </div>
        <div class="row contctR">
          <img class="location-img" src="../../assets/email.png" width="35px" height="35px" padding="10px">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <h4>
              <a class="support-email" href="mailto:support@adotrip.com">TeamAvengerSupport@gmail.com</a>
            </h4>
          </div>
        </div>      
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12">

         <form id="contactform" action="contactform" name="contactform" method="post">
            <div class="formgroup">
              <input type="text" name="name" class="form-control" placeholder=" Full Name" required id="name">
            </div>
            <div class="formgroup">
              <input type="text" name="phone" class="form-control" placeholder=" Phone No." required id="phone">
            </div>
            <div class="formgroup">
              <input type="text" name="email" class="form-control" placeholder=" Email Id" required id="email">
            </div>
            <div class="formgroup">
              <textarea required id="msg" placeholder="Enter your comments here.."></textarea>
            </div>
          </form>
            <div class="textcenter">
              <button type="button" (click)="showMsg()" name="submit" class="submitbtn" id="submit" value="Submit"> Submit</button>
            </div>
      </div>
    </div>
  </div>
</section>
