<header class="section-header" id="myHeader">
    <div class="flex">
        <img [routerLink]="['/home']" class="img-fluid" src="../assets/OurLogo.png.png" href="" width="150px">
      <div class="nav navbar-default">
          <a [routerLink]="['/home']" class="nav-item" href="">Home</a>
          <a [routerLink]="['/insurancecoverages']" class="nav-item" href="">Insurance Coverages</a>
          <a [routerLink]="['/faqs']" class="nav-item" href="">FAQs</a>
          <a [routerLink]="['/contactus']" class="nav-item" href="">Contact Us</a>
      </div>
    </div>
  </header>