<section class="main-contact">
    <div class="coverages-container">

      <div class="coverages-content">
        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong> Types of Travel Insurance </strong>
                </h4>
            </div>


        </div>
    
        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong>1 . Domestic Travel Insurance </strong>
                </h4>
            </div>

        </div>

        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/1.Domestic_Travel.jpg" width="1080px" height="400px">
                <h4>
                  Travel insurance is a type of insurance that is custom-made for people going on domestic and international travels. It addresses the various risks that one may face during travels, including hospitalization, medical expenses, loss of luggage or documents, cancellation or disruption of flights, and various other costs.
                  Travel insurance covers you from the date of departure till your arrival back at the place of origin. For frequent fliers, a travel plan that remains effective for a certain period is more suitable as it covers multiple travels during the policy period. 
                </h4>
              </div>
        </div>
        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                <strong>2.International Travel Insurance </strong>
                </h4>
            </div>


        </div>
    
        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/2.InternationalTravelInsurance.jpg" width="1080px" height="400px">
                <h4>
                    You can buy a travel insurance policy online or by visiting the insurer’s office. While applying online, you need to fill in the basic details like dates of travel, traveler details, coverage required, etc. Then you receive the quote, based on which you can select the travel insurance policy that suits your requirement.
                    There are different types of travel plans customized for different travel needs. These include corporate, single, family , senior citizen, or student travel plans. You can purchase a travel plan that suits you the best.
                    You can also buy travel insurance plans from insurance brokers and agents. However, ensure that they are licensed by the Insurance Regulatory and Development Authority of India. It is worth noting that you may be eligible for discounts if you buy a travel insurance plan online directly from the insurer.
                </h4>
              </div>
        </div>
        
        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong>3.Luggage Insurance </strong>
                </h4>
            </div>


        </div>
    
        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/3.LuggageInsurance.jpg" width="1080px" height="400px">
                <h4>
                If you plan to embark on multiple trips, you should buy a travel plan in advance to cover all the upcoming trips. Even in the case of a single trip, buying a travel plan in advance is advisable. Typically, it could be on the date of booking the tickets or a few days after that.
                You can also buy travel plans at the last minute. But you may miss out on crucial coverages. For instance, travel insurance offers cancellation coverage. But you will miss out on the same if the cancellation happens before the policy start date. In other words, buy your travel insurance well in advance to avail all benefits.

                </h4>
              </div>
        </div>

        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong>4.Senior Citizen Travel Insurance </strong>
                </h4>
            </div>

        </div>
    
        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/4.SeniorCitizenTravelInsurance.jpg" width="1080px" height="400px">
                <h4>
                    Some of the common reasons that make a travel insurance important are:
                    People are more prone to medical problems in a foreign land, be it within India or overseas, due to changes in food habits and environmental reasons. Travel insurance helps tackle such circumstances with ease.
                    It protects in case of baggage losses at airports and theft or travel scams in many tourist destinations.
                    Travel insurance protects the policyholder in the event of flight delay or cancellation.
                    It protects you in the event of natural calamities, man-made disasters, flight hijacking, etc.
                    Student travelers can also opt for study interruption coverage in their travel plans.
                    Travel insurance may cover fatalities and repatriation of mortal remains.
                    Travel insurance is a mandatory requirement in more than 30 countries. It is a prerequisite for visa processing while travelling to these countries.
                    You can also buy travel insurance plans from insurance brokers and agents. However, ensure that they are licensed by the Insurance Regulatory and Development Authority of India. It is worth noting that you may be eligible for discounts if you buy a travel insurance plan online directly from the insurer.
                </h4>
              </div>
        </div>

        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong>5. Single Trip - Multi Trip Insurance</strong>
                </h4>
            </div>


        </div>
    
        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/5.SingleTripOrMultiTrip Insurance.jpg" width="1080px" height="400px">
                <h4>
                    While it is mandatory to have travel insurance before visiting certain countries, people travelling to any country, in general, should buy a travel insurance plan.
                    Along with, it is advisable for the following travelers to buy a travel insurance plan:
                    Individual travelers and families
                    Senior citizens - because of their higher medical susceptibility
                    Corporate travelers can cover their travel risks while travelling on behalf of their organization
                    Students can buy student-specific travel plans with longer validity
                    People travelling in groups can insist on the purchase of travel insurance by their tour organizer
                    Domestic travelers can buy travel plans designed to cover travel risks within the country.
                </h4>
              </div>
        </div>

        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong>6.Corporate Travel Insurance </strong>
                </h4>
            </div>


        </div>
    
        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/6.CorporateTravelInsurance.jpg" width="1080px" height="400px">
                <h4>
                    Some of the reasons why you should choose Travel Insurance Policy are:
                    Coverage:
                    Extensive coverage including in-patient hospitalization, OPD treatment, trip cancellation, loss or delay of luggage, medical evacuation, loss of passport, missing a connecting flight, etc.
                    Pre-existing Diseases:
                    Up to 100% coverage of pre-existing diseases under the emergency in-patient medical cover for students traveling abroad for education on a student visa.
                    Medical Check:
                    No requirement for pre-policy medical check-ups.
                    Claims:
                    You can enjoy a hassle-free claim process.
                    COVID-19:
                    Coverage for hospitalization due to COVID-19 provided up to sum assured.
                    Sum Assured:
                    Total coverage of up to USD 250,000
                </h4>
              </div>
        </div>

          </div>
          <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong>7. Medical Travel Insurance </strong>
                </h4>
            </div>

        </div>

        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/7.Medical Travel Insurance.jpg" width="1080px" height="400px">
                <h4>
                  Travel insurance is a type of insurance that is custom-made for people going on domestic and international travels. It addresses the various risks that one may face during travels, including hospitalization, medical expenses, loss of luggage or documents, cancellation or disruption of flights, and various other costs.
                  Travel insurance covers you from the date of departure till your arrival back at the place of origin. For frequent fliers, a travel plan that remains effective for a certain period is more suitable as it covers multiple travels during the policy period. 
                </h4>
              </div>
        </div>
        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong>8. Family Travel Insurance </strong>
                </h4>
            </div>

        </div>

        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/8.FamilyTravelInsurance.jpg" width="1080px" height="400px">
                <h4>
                  Travel insurance is a type of insurance that is custom-made for people going on domestic and international travels. It addresses the various risks that one may face during travels, including hospitalization, medical expenses, loss of luggage or documents, cancellation or disruption of flights, and various other costs.
                  Travel insurance covers you from the date of departure till your arrival back at the place of origin. For frequent fliers, a travel plan that remains effective for a certain period is more suitable as it covers multiple travels during the policy period. 
                </h4>
              </div>
        </div>
        <div class="row contctR"> 
                   
            <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <h4>
                    <strong>9. Pregnancy Travel Insurance </strong>
                </h4>
            </div>

        </div>

        <div class="row contctR">
            <div class="col-lg-80 col-md-80 col-sm-80 col-80">
                <img class="location-img" src="../../assets/9.PregnancyTravelInsurance.jpg" width="1080px" height="400px">
                <h4>
                  Travel insurance is a type of insurance that is custom-made for people going on domestic and international travels. It addresses the various risks that one may face during travels, including hospitalization, medical expenses, loss of luggage or documents, cancellation or disruption of flights, and various other costs.
                  Travel insurance covers you from the date of departure till your arrival back at the place of origin. For frequent fliers, a travel plan that remains effective for a certain period is more suitable as it covers multiple travels during the policy period. 
                </h4>
              </div>
        </div>
      
    </div>
  </section>